/* ---responsive for tablet 769px---------- */
@media screen and (max-width:769px) {
    .nav-container{
        gap: 100px;
    }
    .banner-text{
        
        width: 50%;
        height: 400px;
        margin-bottom: 10px;
        padding-left: 20px;
        display: flex;
        align-items: center;
     
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
       }
}



/* -----For mobile large 425px responsive------ */
@media screen and (max-width:426px)  {
    .nav-container{
        flex-direction: column;
        gap: 7px;
    }
    .nav-items-container {
       gap: 5px;
        flex-direction: column;
    }
    .nav-items-container a {
        margin-top: 20px;
    }
    .nav-items-container .follow-btn {
        padding: 10px 30px;
        
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-text{
        margin-top: 10px;
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
        padding-left: 20px;
        display: flex;
        align-items: center;
     
    }
    .banner-text-container{
        padding-left: 50px;
        font-size: 15px;
    }
    
    .banner-img{
        width: 100%;
    }
    .online-head,.funny{
        font-size: 20px;
    }
    .online-pera{
        font-size: 8px;
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
       }
    
    .single-card {
        
        width: 70%;
        margin: auto;
    }
    
}